.Searchbar {
  width: 100%;
  height: 55px;
  background-color: rgb(111, 153, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Searchform {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Searchform_input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;

  margin-right: 8px;
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  outline: none;
}

.Searchform_input::placeholder {
  color: #808080;
}
.Searchform_input:hover {
  border: 1px solid #000;
}
.Searchform_input:focus {
  border: 1px solid #0b2dee;
}
button[type='submit'] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;

  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 42px;

  background: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.FormBtn:hover {
  background: #6c8cff;
}
